[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
app-common-python = "==0.2.8"
confluent-kafka = "==2.12.0"
insights-core = "==3.6.7"
logstash-formatter = "*"
prometheus-client = "*"
requests = "*"
watchtower = "*"

[requires]
python_version = "3.11"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
