[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
confluent-kafka = "*"
requests = "*"
app-common-python = "*"
logstash-formatter = "*"
watchtower = "*"
prometheus-client = "*"

[requires]
python_version = "3.9"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
